@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

sub {
  vertical-align: sub;
}

#toTop {
  z-index: 90;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  font-size: 32px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  height: 120px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.btnPrimary {
  background-color: #FFD366;
}

.btnPrimary:hover {
  -webkit-box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
          box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}

.btnPrimary:active {
  background: #DEA821;
}

.btnResule {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  font-size: 32px;
  line-height: 1;
  background-color: #424242;
}

.btnResule:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btnResule:active {
  background: none;
}

.btnResule span {
  position: absolute;
  top: 38px;
  left: 126px;
  cursor: default;
}

.btnResule sup {
  font-size: 14px;
}

.btnResule div {
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #424242;
  background-image: url(../images/icons_loop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btnResule:hover div {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.btnUnderweight {
  color: #31BAF9;
  border: 6px solid #31BAF9;
}

.btnNormal {
  color: #86D73F;
  border: 6px solid #86D73F;
}

.btnOverweight {
  color: #FF982D;
  border: 6px solid #FF982D;
}

.btnObese1 {
  color: #FF6C03;
  border: 6px solid #FF6C03;
}

.btnObese2 {
  color: #FF6C03;
  border: 6px solid #FF6C03;
}

.btnObese3 {
  color: #FF1200;
  border: 6px solid #FF1200;
}

body {
  color: #424242;
  background-color: #FFD366;
  font-size: 20px;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
}

header {
  background-color: #424242;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 74px 173px;
}

@media only screen and (max-width: 992px) {
  .header {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__logo img {
  width: 117px;
}

@media only screen and (max-width: 992px) {
  .header__logo img {
    margin-bottom: 20px;
  }
}

.header__input {
  color: #FFD366;
}

.header__input p {
  font-size: 18px;
}

.header__input input {
  margin-bottom: 23px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #FFD366;
  background-color: rgba(255, 255, 255, 0.18);
}

.header__input input[type="text"],
.header__input input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.header__input input[type="text"],
.header__input input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.header__input input[type="text"],
.header__input input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.header__input input[type="text"],
.header__input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

main {
  background-color: #f5f5f5;
}

.main {
  padding: 48px 0 74px;
  text-align: center;
}

.main h2 {
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 24px;
}

.card {
  padding-right: 5px;
  margin: 0 auto 16px;
  width: 624px;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .card {
    padding-right: 0;
    width: 82%;
  }
}

.card__note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .card__note {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__note sup {
  margin-right: 7px;
  font-size: 12px;
  vertical-align: text-top;
}

.card__note__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
}

@media only screen and (max-width: 768px) {
  .card__note__result {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
  }
}

.card__note__result p {
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .card__note__result p {
    font-size: 32px;
  }
}

.card__note__result div {
  margin-right: 12px;
  width: 7px;
  height: 62px;
}

@media only screen and (max-width: 768px) {
  .card__note__result div {
    margin-right: 0px;
    margin-bottom: 5px;
    width: 82vw;
    height: 5px;
  }
}

.normal {
  background-color: #86D73F;
}

.underweight {
  background-color: #31BAF9;
}

.overweight {
  background-color: #FF982D;
}

.obese1 {
  background-color: #FF6C03;
}

.obese2 {
  background-color: #FF6C03;
}

.obese3 {
  background-color: #FF1200;
}

.footer {
  padding: 18px 0;
}

.footer img {
  margin: 0 auto;
  width: 55px;
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
}
/*# sourceMappingURL=main.css.map */