@import "variable"; //字級、顏色、速度
@import "reset"; //Reset、初始設定
@import "mixin"; //Flex、@media
@import "common"; //此專案通用、toTop、按鈕

header {
    background-color: $c2nd;
}

.header {
    @include disFlex($jc: space-between);
    padding: 74px 173px;

    @include pad {
        padding: 20px;
        flex-direction: column;
    }

    &__logo img {
        width: 117px;

        @include pad {
            margin-bottom: 20px;
        }
    }

    &__input {
        color: $c1st;

        p {
            font-size: 18px;
        }

        input {
            margin-bottom: 23px;
            width: 250px;
            height: 40px;
            border-radius: 10px;
            border: 2px solid $c1st;
            background-color: rgba(255, 255, 255, 0.18);
        }

        input[type="text"],
        input::placeholder {
            color: rgba(255, 255, 255, 0.50);
            font-size: $fz-m;
        }
    }
}

main {
    background-color: #f5f5f5;
}

.main {
    padding: 48px 0 74px;
    text-align: center;

    h2 {
        margin-bottom: 36px;
        font-weight: $fw-m;
        font-size: $fz-s * 1.5;
    }
}

.card {
    padding-right: 5px;
    margin: 0 auto 16px;
    width: 624px;
    background-color: #fff;

    @include mobile {
        padding-right: 0;
        width: 82%;
    }

    &__note {
        @include disFlex($jc: space-between);

        @include mobile {
            flex-direction: column;
        }

        sup {
            margin-right: 7px;
            font-size: 12px;
            vertical-align: text-top;
        }

        &__result {
            @include disFlex;

            @include mobile {
                flex-direction: column;
            }

            p {
                font-weight: $fw-m;
                @include mobile{
                    font-size: $fz-s * 2;
                }
            }
        }

        &__result div {
            margin-right: 12px;
            width: 7px;
            height: 62px;

            @include mobile {
                margin-right: 0px;
                margin-bottom: 5px;
                width: 80vw;
                height: 5px;
            }
        }
    }
}

.normal {
    background-color: #86D73F;
}

.underweight {
    background-color: #31BAF9;
}

.overweight {
    background-color: #FF982D;
}

.obese1 {
    background-color: #FF6C03;
}

.obese2 {
    background-color: #FF6C03;
}

.obese3 {
    background-color: #FF1200;
}

.footer {
    padding: 18px 0;

    img {
        margin: 0 auto;
        width: 55px;
        filter: brightness(200%);
    }
}